body {
  font-family: "Playwrite DK Uloopet", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #474242;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-block: auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

#task-input {
  width: 70%;
  padding: 5px;
  font-family: "Playwrite DK Uloopet";
}

#add-task-btn {
  width: 25%;
  padding: 5px;
  background-color: #1b73d1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Playwrite DK Uloopet";
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.filter-btn {
  flex: 1;
  padding: 5px;
  margin: 0 5px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Playwrite DK Uloopet";
}

#task-list {
  list-style-type: none;
  padding: 0;
}

.completed {
  background-color: #48a954;
}

.pending {
  background-color: #d3513c;
}

.all {
  background-color: #1b73d1;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.task-item.completed span {
  text-decoration: line-through;
}

.task-item button {
  margin-left: 10px;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.icon-image {
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
  .input-container {
    flex-direction: column;
  }

  #task-input {
    width: 100%;
    margin-bottom: 10px;
  }

  #add-task-btn {
    width: 100%;
  }

  .filters {
    flex-direction: column;
  }

  .filter-btn {
    margin: 5px 0;
  }
}
